<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <mat-card>
             <div class="row">
                <mat-card-title class="text-center">Registertration !!</mat-card-title>
                 <!-- <p>signup works!</p> -->
                <form >
                    <mat-form-field class="col-12 px-2" appearance="fill">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class="col-6 px-2" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class="col-6 px-2" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
            
                        <mat-form-field class="col-12 px-2" appearance="fill">
                          <mat-label>password</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'">
                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </mat-form-field>

                        <mat-form-field class="col-6 px-2" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput type="email">
                        </mat-form-field>

                        <mat-form-field class="col-6 px-2" appearance="fill">
                            <mat-label>Phone No</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                        <div class="col-12 text-center">
                            <button mat-raised-button type="submit" class="btn mx-2 btn-success">Sign Up</button>
                            <button mat-raised-button type="reset" class="btn mx-2 btn-danger">reset</button>
                        </div>
                </form>
             </div>
            </mat-card>
        </div>
    </div>
</div>